{{ 'shop.css' | asset_url | stylesheet_tag }}

<section id="shop">
  <div class="wrapper">
    <div class="shop-container">
      <div class="shop-header-container">
        {% if section.settings.lead_in_text != blank %}
          <p class="light-blue lead-in">{{ section.settings.lead_in_text | escape }}</p>
        {% endif %}
        {% if section.settings.heading_text != blank %}
          <h2 class="dark-gray">{{ section.settings.heading_text | escape }}</h2>
        {% endif %}
      </div>
      <div class="product-container">
        {% for block in section.blocks %}
          <div class="product-widget">
            <a href="{{ block.settings.featured_product_link }}">
              <img
                src="{{ block.settings.featured_product | img_url: '2048x' }}"
                alt="{{ block.settings.widget_text }}"
                loading="lazy"
              >
            </a>
            <a href="{{ block.settings.featured_product_link }}" class="semi-gray">{{ block.settings.link_text }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Antioxidants Products",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Lead In Text"
    },
    {
      "type": "text",
      "id": "lead_in_text",
      "default": "Our shop",
      "label": "Lead In Text"
    },
    {
      "type": "header",
      "content": "Heading Text"
    },
    {
      "type": "text",
      "id": "heading_text",
      "default": "Which one is right for you",
      "label": "Heading Text"
    }
  ],
  "blocks": [
    {
      "name": "widget",
      "type": "Widget",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content": "Link Text"
        },
        {
          "type": "text",
          "id": "link_text",
          "default": "Learn More",
          "label": "Link Text"
        },
        {
          "type": "header",
          "content": "Featured Product Link"
        },
        {
          "type": "url",
          "id": "featured_product_link",
          "label": "Featured Product Link"
        },
        {
          "type": "product",
          "id": "featured_product",
          "label": "Featured Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Antioxidants Products"
    }
  ]
}
{% endschema %}
