<section id="header">
  {% if section.settings.show_announcement_text %}
    {{ 'announcement-bar.css' | asset_url | stylesheet_tag }}
    <a href="{{ section.settings.announcement_link }}">
      <section id="announcement">
        <div class="wrapper">
          <div class="announcement-container">
            <p>{{ section.settings.announcement_text | escape }}</p>
          </div>
        </div>
      </section>
    </a>
  {% endif %}
  <div class="wrapper">
    <div class="header-container">
      <div class="main-header-cotainer">
        <div class="top-navbar">
          <div class="search-con">
            <input type="text" id="searchInput" placeholder="Search...">
            <div id="search-details-con"></div>
          </div>
          <a class="search">
            {% render 'icon_search' %}
          </a>
          {% render 'icon_login' %}
          <div class="cart-container">
            <p class="cart-item-count">
              <span>{{ cart.item_count }}</span>
            </p>
            {% render 'icon_cart' %}
          </div>
          <p>{{ cart.total_price | money }}</p>
        </div>
        <a href="{{ routes.root_url }}">
          {% if section.settings.header_logo != blank %}
            <img
              class="logo"
              src="{{ section.settings.header_logo | img_url: '2048x' }}"
              alt="Logo"
              loading="lazy"
            >
          {% else %}
            <p class="logo">{{ shop.name }}</p>
          {% endif %}
        </a>
        <ul class="navbar">
          {% for link in linklists[section.settings.menu].links %}
            {% if link.title == 'Skincare' %}
              <li>
                <a href="{{ link.url }}" class="has-sub-menu" data-title="{{ link.title | downcase}}">
                  {{ link.title }}
                  {% render 'icon_caret' %}
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ link.url }}" class="{% if link.url == request.path %}current-page{% endif %}">
                  {{- link.title -}}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="btn-container">
          {% comment %} <a href="#vf-696bwf7z-p-r" class="btn-primary">Take the Skin Type Quiz</a> {% endcomment %}
          <div class="mobile-btn-container">
            {% render 'icon_burger' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="skincare">
  <div class="wrapper">
    <div class="skincare-container">
      <div class="sub-link-container">
        {% comment %}
          <ul>
            <div class="header-container">
              <h4>Shop by Skintype</h4>
            </div>
            {% for link in linklists.skintype.links %}
              <li>
                <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <ul>
            <div class="header-container">
              <h4>Skin Condition</h4>
            </div>
            {% for link in linklists['skin-condition'].links %}
              <li>
                <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endcomment %}
        <ul>
          <div class="header-container">
            <h4>Product Type</h4>
          </div>
          <div class="double-side-links">
            {% for link in linklists['product-type'].links %}
              <li>
                <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </div>
        </ul>
      </div>
      <div class="featured-product">
        {% assign collection = collections['skincare-kits'] %}
        {% assign specific_product_id = 9082164281561 %}
        {% for product in collection.products %}
          {% if product.id == specific_product_id %}
            <div class="featured-product-container">
              <p class="lead-in light-blue">Shop Skincare Kits</p>
              <h5>{{ product.title }}</h5>
              <p>{{ product.price | money }}</p>
              <a href="{{ collection.url }}" class="btn-primary">See all</a>
            </div>
            <img
              src="{{ product.featured_image | img_url: '2048x' }}"
              alt="{{ product.featured_image.alt | escape }}"
              loading="lazy"
            >
            {% break %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section id="mobile-navbar">
  <div class="btn-container">
    {% comment %} <a href="#vf-696bwf7z-p-r" class="btn-primary">Take the Skin Type Quiz</a> {% endcomment %}
    <div class="mobile-btn-container">
      {% render 'icon_close' %}
    </div>
  </div>
  <div class="wrapper">
    <div class="mobile-nav-container">
      <ul class="navbar">
        {% for link in linklists[section.settings.menu].links %}
          {% if link.title == 'Skincare' %}
            <li class="has-sub-menu">
              <a href="{{ link.url }}" data-title="{{ link.title | downcase}}">
                {{ link.title }}
                {% render 'icon_caret' %}
              </a>
              <div class="sub-link-container">
                <ul>
                  <div class="header-container">
                    <h4>Skintype</h4>
                  </div>
                  {% for link in linklists.skintype.links %}
                    <li>
                      <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
                <ul>
                  <div class="header-container">
                    <h4>Skin Condition</h4>
                  </div>
                  {% for link in linklists['skin-condition'].links %}
                    <li>
                      <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
                <ul>
                  <div class="header-container">
                    <h4>Product Type</h4>
                  </div>
                  <div class="double-side-links">
                    {% for link in linklists['product-type'].links %}
                      <li>
                        <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                      </li>
                    {% endfor %}
                  </div>
                </ul>
              </div>
            </li>
          {% else %}
            <li>
              <a href="{{ link.url }}" class="{% if link.url == request.path %}current-page{% endif %}">
                {{ link.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        <div class="auth-container">
          <li>
            {{ 'Sign In' | customer_login_link }}
          </li>
          <li>
            {{ 'Register' | customer_register_link }}
          </li>
        </div>
        {% comment %} <a href="#vf-696bwf7z-p-r" class="btn-primary">Take the Skintype Quiz</a> {% endcomment %}
      </ul>
    </div>
  </div>
</section>

<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "id": "header_logo",
      "type": "image_picker",
      "label": "Header Logo"
    },
    {
      "type": "header",
      "content": "Navbar"
    },
    {
      "id": "menu",
      "type": "link_list",
      "default": "main-menu",
      "label": "Header Menu"
    },
    {
      "type": "checkbox",
      "id": "show_announcement_text",
      "label": "Show Announcement Bar"
    },
    {
      "type": "header",
      "content": "Announcement Bar"
    },
    {
      "type": "text",
      "default": "Announcement Bar",
      "id": "announcement_text",
      "label": "Announcement Bar Text"
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": "Announcement Link"
    }
  ]
}
{% endschema %}
