<link rel="preload" href="{{ 'meet.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>{{ 'meet.css' | asset_url | stylesheet_tag }}</noscript>

<section id="meet">
  <div class="wrapper">
    <div class="meet-container">
      <div class="meet-image-container">
        {% if section.settings.featured_image != blank %}
          <img
            src="{{ section.settings.featured_image | img_url: "2048x" }}"
            alt="{{ section.settings.featured_image.alt }}"
            loading="lazy"
          >
        {% else %}
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Default_Image.webp?v=1733414521"
            alt="Default Image"
            loading="lazy"
          >
        {% endif %}
      </div>
      <div class="meet-details-container have-overlay">
        {% if section.settings.lead_in_text != blank %}
          <p class="lead-in low-white">{{ section.settings.lead_in_text | escape }}</p>
        {% endif %}
        {% if section.settings.heading_text != blank %}
          <h2 class="white">{{ section.settings.heading_text | escape }}</h2>
        {% endif %}
        {% if section.settings.sub_text != blank %}
          <p class="low-white">
            {{ section.settings.sub_text | escape }}
          </p>
        {% endif %}
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'buttons' %}
              {% if block.settings.primary_button_link_text != blank %}
                <a
                  {% if block.settings.primary_button_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.primary_button_link }}"
                  {% endif %}
                  class="btn-primary"
                  aria-label="{{ block.settings.primary_button_link_text | escape }}"
                >
                  {{ block.settings.primary_button_link_text | escape }}
                </a>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Meet",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Lead In Text"
    },
    {
      "type": "text",
      "id": "lead_in_text",
      "default": "Meet the Doctor",
      "label": "Lead In Text"
    },
    {
      "type": "header",
      "content": "Heading Text"
    },
    {
      "type": "text",
      "id": "heading_text",
      "default": "Dr. Kim Nichols",
      "label": "Heading Text"
    },
    {
      "type": "header",
      "content": "Sub Text"
    },
    {
      "type": "text",
      "id": "sub_text",
      "default": "Kim Nichols, MD, FAAD is a Harvard-trained, board-certified, celebrity dermatologist that treats both cosmetic and medical skincare concerns. She has been recognized world-wide for her artistic expertise in administering injectables that yield -looking results for clients to look and feel their best.",
      "label": "Sub Text"
    },
    {
      "type": "header",
      "content": "Featured Image"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Featured Image"
    }
  ],
  "blocks": [
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Primary Button"
        },
        {
          "type": "text",
          "id": "primary_button_link_text",
          "label": "Primary Button Link Text",
          "default": "Learn More",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "primary_button_link",
          "label": "Primary Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Meet"
    }
  ]
}
{% endschema %}
