{{ 'single-product.css' | asset_url | stylesheet_tag }}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{% section 'page-header' %}
<section id="single-product">
  <div class="wrapper">
    <div class="single-product-container">
      <div class="product-image-container">
        {% if featured_image != blank %}
          <img
            src="{{ featured_image | img_url: '2048x' }}"
            alt="{{ featured_image.alt | escape }}"
            loading="lazy"
          >
        {% else %}
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Default_Image.webp?v=1733414521"
            alt="Default Image"
            loading="lazy"
          >
        {% endif %}
      </div>
      <div class="product-details-container">
        <div class="product-details">
          {% if product.title != blank %}
            <h2>{{ product.title | escape }}</h2>
          {% else %}
            <h2>Product Name</h2>
          {% endif %}
          {% render 'doran-star-widget' %}
          {% if product.description != blank %}
            <p class="light-gray product-description">{{ product.description | strip_html | newline_to_br }}</p>
          {% endif %}
        </div>
        <div class="product-variants-container">
          {% if product.variants.size > 1 or product.variants.first.title != 'Default Title' %}
            {% unless product.tags contains 'Treatments' %}
              <p class="dark-gray"><strong>Choose Your Size</strong></p>
            {% endunless %}
            <ul id="variant-list">
              {% for variant in product.variants %}
                <li
                  class="variant-item {% if variant.id == current_variant.id %}active{% endif %}"
                  data-variant-id="{{ variant.id }}"
                  data-variant-price="{{ variant.price }}"
                >
                  <span>{{ variant.title }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          <p class="light-blue price">
            <strong>{{ current_variant.price | money_with_currency }}</strong>
          </p>
          <form class="add-to-cart-form quantity-container">
            <input type="hidden" id="product-variant-id" name="id" value="{{ current_variant.id }}">
            {% if product.available != false %}
              <div class="product-quantity">
                <input type="button" value="-" class="minus">
                <input type="number" class="quantity" name="quantity" value="1" min="1">
                <input type="button" value="+" class="plus">
              </div>
              <button
                type="submit"
                name="add"
                class="btn-primary"
                id="AddToCart"
              >
                Add to Cart
              </button>
            {% else %}
              <p>Out of stock</p>
            {% endif %}
          </form>
          <div class="recommendation-container">
            {% if product.type != 'Gift Card' %}
              <p><strong>Recommended Skin Types:</strong></p>
              <p>For all skin types.</p>
              {% if product.metafields.custom.direction != blank %}
                <p><strong>Directions for Use:</strong></p>
                <p>{{ product.metafields.custom.direction | metafield_tag }}</p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="product-information-container">
      <ul class="product-sub-details-con">
        {% comment %}
          {% unless product.tags contains 'Treatments' %}
            <li>
              <a href="#!" class="active" data-id="description">Product Description</a>
            </li>
            <li>
              <a href="#!" data-id="details">Details</a>
            </li>
            <li>
              <a href="#!" data-id="benefits">Benefits</a>
            </li>
            <li>
              <a href="#!" data-id="ingredient-iist">Ingredients List</a>
            </li>
            <li>
              <a href="#!" data-id="indications">Indications</a>
            </li>
          {% else %}
        {% endcomment %}
        <li>
          <a href="#!" class="active" data-id="details">Details</a>
        </li>
        <li>
          <a href="#!" data-id="benefits">Benefits</a>
        </li>
        {% comment %} {% endunless %} {% endcomment %}
      </ul>
      <div class="product-details-flash">
        {% comment %}
          {% unless product.tags contains 'Treatments' %}
            <div id="description" class="active">
              {{ product.metafields.custom.sub_description | metafield_tag }}
            </div>
            <div id="ingredient-iist">
              {{ product.metafields.custom.sub_ingredient | metafield_tag }}
            </div>
            <div id="indications">
              {{ product.metafields.custom.sub_indication | metafield_tag }}
            </div>
          {% else %}
        {% endcomment %}
        <div id="details" class="active">
          {{ product.metafields.custom.sub_details | metafield_tag | newline_to_br }}
        </div>
        <div id="benefits">
          {{ product.metafields.custom.sub_benefit | metafield_tag | newline_to_br }}
        </div>
        {% comment %} {% endunless %} {% endcomment %}
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(() => {
    $('.minus').click(function () {
      let input = $(this).siblings('input[type="number"]'),
        value = parseInt(input.val(), 10);

      if (!isNaN(value) && value > 1) input.val(value - 1);
    });

    $('.plus').click(function () {
      let input = $(this).siblings('input[type="number"]'),
        value = parseInt(input.val(), 10);

      if (!isNaN(value)) input.val(value + 1);
    });

    $('.product-sub-details-con li a')
      .click(function () {
        $('.product-sub-details-con li a').removeClass('active');
        $(this).addClass('active');
        $(`.product-details-flash > div`).removeClass('active');
        $(`.product-details-flash #${$(this).data('id')}`).addClass('active');
      })
      .filter('.active')
      .click();

    $('.variant-item').on('click', function () {
      changeVariant($(this).data('variant-id'), $(this).data('variant-price'));
      $('.variant-item').removeClass('active');
      $(this).addClass('active');
    });

    function changeVariant(selectedVariantId, variantPrice) {
      if (selectedVariantId) {
        $('#product-variant-id').val(selectedVariantId);
        const formattedPrice = (variantPrice / 100).toLocaleString('en-US', {
          style: 'currency',
          currency: 'USD',
        });

        $('.price strong').text(`${formattedPrice}`);
      }
    }
  });
</script>