<section id="related-products">
  <div class="wrapper">
    <div class="related-products-con">
      <h2 class="low-white">You may also like</h2>
      <div class="related-products">
        {% assign product_tags = product.tags | json %}
        {% assign related_products = collections.all.products | where: 'tags', product_tags[0] %}
        {% for related_product in related_products limit: 4 %}
          {% if related_product.id != product.id %}
            <div class="related-product">
              <a href="{{ related_product.url }}">
                {% if related_product.featured_image != blank %}
                  <img
                    src="{{ related_product.featured_image | img_url: '2048x' }}"
                    alt="{{ related_product.title }}"
                    loading="lazy"
                  >
                {% else %}
                  <img
                    src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Default_Image.webp?v=1733414521"
                    alt="Default Image"
                    loading="lazy"
                  >
                {% endif %}
              </a>
              <a href="{{ related_product.url }}">
                <h6 class="low-white">{{ related_product.title }}</h6>
              </a>
              <p class="white">{{ related_product.price | money }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Related Products",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Related Products"
    }
  ]
}
{% endschema %}
