<link rel="preload" href="{{ 'shop.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>{{ 'shop.css' | asset_url | stylesheet_tag }}</noscript>

<section id="shop">
  <div class="wrapper">
    <div class="shop-container">
      <div class="shop-header-container">
        {% if section.settings.lead_in_text != blank %}
          <p class="light-blue lead-in">{{ section.settings.lead_in_text | escape }}</p>
        {% endif %}
        {% if section.settings.heading_text != blank %}
          <a href="{{ section.settings.heading_url }}">
            <h2 class="dark-gray">{{ section.settings.heading_text | escape }}</h2>
          </a>
        {% endif %}
      </div>
      <div class="product-container">
        {% for block in section.blocks %}
          <div class="product-widget">
            <a
              href="{{ block.settings.featured_product.url }}"
              aria-label="{{ block.settings.featured_product.title }}"
            >
              <img
                src="{{ block.settings.featured_product | img_url: '2048x' }}"
                alt="{{ block.settings.widget_text }}"
                loading="lazy"
              >
            </a>
            <a
              href="{{ block.settings.featured_product.url }}"
              aria-label="{{ block.settings.featured_product.title }}"
            >
              <h4 class="dark-gray">{{ block.settings.featured_product.title | escape }}</h4>
            </a>
            <a
              href="{{ block.settings.featured_product.url }}"
              class="semi-gray"
              aria-label="Learn more about {{ block.settings.link_text |  escape}}"
            >
              {{- block.settings.link_text | escape -}}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Shop",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Lead In Text"
    },
    {
      "type": "text",
      "id": "lead_in_text",
      "default": "Our shop",
      "label": "Lead In Text"
    },
    {
      "type": "header",
      "content": "Heading Text"
    },
    {
      "type": "text",
      "id": "heading_text",
      "default": "Shop by Category",
      "label": "Heading Text"
    },
    {
      "type": "url",
      "id": "heading_url",
      "label": "Heading Text Link"
    }
  ],
  "blocks": [
    {
      "name": "widget",
      "type": "Widget",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content": "Link Text"
        },
        {
          "type": "text",
          "id": "link_text",
          "default": "Learn More",
          "label": "Link Text"
        },
        {
          "type": "product",
          "id": "featured_product",
          "label": "Featured Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop"
    }
  ]
}
{% endschema %}
