<link rel="preload" href="{{ 'solution.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>{{ 'solution.css' | asset_url | stylesheet_tag }}</noscript>

<section id="solution" class="color-{{ section.settings.background_color }}">
  <div class="wrapper">
    <div class="shop-container">
      <div class="shop-header-container">
        {% if section.settings.lead_in_text != blank %}
          <p class="lead-in light-blue">{{ section.settings.lead_in_text | escape }}</p>
        {% endif %}
        {% if section.settings.heading_text != blank %}
          <h2 class="dark-gray">{{ section.settings.heading_text | escape }}</h2>
        {% endif %}
      </div>
      <div class="product-container">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'widget' %}
              <div class="product-widget">
                <a href="{{ block.settings.widget_link }}">
                  <img
                    src="{{ block.settings.widget_image | img_url: 'medium' }}"
                    alt="{{ block.settings.widget_text }}"
                    loading="lazy"
                  >
                </a>
                <a href="{{ block.settings.widget_link }}">
                  <h4 class="dark-gray">{{ block.settings.widget_text }}</h4>
                </a>
                {% comment %} <p class="semi-gray">
                  <a href="{{ block.settings.widget_link }}" class="learn-more-link">Need Guidance? See Definition</a>
                </p> {% endcomment %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <a href="{{ section.settings.browse_all }}" class="btn-primary">
        {{ section.settings.browse_all_text | escape }}
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Solution",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Lead In Text"
    },
    {
      "type": "text",
      "id": "lead_in_text",
      "default": "We offer solutions",
      "label": "Lead In Text"
    },
    {
      "type": "header",
      "content": "Heading Text"
    },
    {
      "type": "text",
      "id": "heading_text",
      "default": "Shop by skintype",
      "label": "Heading Text"
    },
    {
      "type": "color_scheme",
      "id": "background_color",
      "default": "background_white",
      "label": "Background Color"
    },
    {
      "type": "url",
      "id": "browse_all",
      "label": "Browse All Link"
    },
    {
      "type": "text",
      "id": "browse_all_text",
      "default": "Browse all Skincare",
      "label": "Button Text"
    }
  ],
  "blocks": [
    {
      "type": "widget",
      "name": "Widget",
      "settings": [
        {
          "type": "header",
          "content": "Widget Image"
        },
        {
          "type": "image_picker",
          "id": "widget_image",
          "label": "Widget Image"
        },
        {
          "type": "text",
          "id": "widget_text",
          "label": "Widget Image Text",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "widget_link",
          "label": "Widget Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Solution"
    }
  ]
}
{% endschema %}
