{{ 'solution.css' | asset_url | stylesheet_tag }}

<section id="solution" class="color-{{ section.settings.background_color }}">
  <div class="wrapper">
    <div class="shop-container">
      <div class="shop-header-container">
        {% if section.settings.lead_in_text != blank %}
          <p class="lead-in light-blue">{{ section.settings.lead_in_text | escape }}</p>
        {% endif %}
        {% if section.settings.heading_text != blank %}
          <h2 class="dark-gray">{{ section.settings.heading_text | escape }}</h2>
        {% endif %}
      </div>
      <div class="product-container">
        {% for concern in blogs['skin-concerns'].articles %}
          <div class="product-widget">
            <a href="{{ concern.url }}">
              <img
                src="{{ concern.image | img_url: 'medium' }}"
                alt="{{ concern.title }}"
                loading="lazy"
              >
            </a>
            <a href="{{ concern.url }}">
              <h4 class="dark-gray">{{ concern.title }}</h4>
            </a>
            <p class="semi-gray">
              <a href="{{ concern.url }}" class="learn-more-link">Learn More</a>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Solution",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Lead In Text"
    },
    {
      "type": "text",
      "id": "lead_in_text",
      "default": "We offer solutions",
      "label": "Lead In Text"
    },
    {
      "type": "header",
      "content": "Heading Text"
    },
    {
      "type": "text",
      "id": "heading_text",
      "default": "Skin Concerns",
      "label": "Heading Text"
    },
    {
      "type": "color_scheme",
      "id": "background_color",
      "default": "background_white",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "Solution"
    }
  ]
}
{% endschema %}
