{{ 'concern.css' | asset_url | stylesheet_tag }}

{% section 'page-header' %}
<section id="concern">
  <div class="wrapper">
    <div class="concern-container">
      <div class="concern-details">
        <p class="lead-in light-blue">we offer solutions</p>
        <h2>Skin Concerns</h2>
      </div>
      <div class="concern-list-container">
        {% for concern in blogs['skin-concerns'].articles %}
          <div class="product-widget">
            <a href="{{ concern.url }}">
              <img
                src="{{ concern.image | img_url: 'medium' }}"
                alt="{{ concern.title }}"
                loading="lazy"
              >
            </a>
            <a href="{{ concern.url }}">
              <h4 class="dark-gray">{{ concern.title }}</h4>
            </a>
            <p class="semi-gray">
              <a href="{{ concern.url }}" class="learn-more-link">Learn More</a>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% section 'quiz' %}
