{{ 'single-product.css' | asset_url | stylesheet_tag }}

{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{% section 'page-header' %}
<section id="single-product">
  <div class="wrapper">
    <div class="single-product-container">
      <div class="product-image-container">
        {% if featured_image != blank %}
          <img
            src="{{ featured_image | img_url: '2048x' }}"
            alt="{{ featured_image.alt | escape }}"
            loading="lazy"
          >
        {% else %}
          <img
            src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Default_Image.webp?v=1733414521"
            alt="Default Image"
            loading="lazy"
          >
        {% endif %}
      </div>
      <div class="product-details-container">
        <div class="product-details">
          {% comment %}
            {% if product.type != blank %}
              <p class="light-gray">{{ product.type | escape }}</p>
            {% endif %}
          {% endcomment %}
          {% if product.title != blank %}
            <h2>{{ product.title | escape }}</h2>
          {% else %}
            <h2>Product Name</h2>
          {% endif %}
          {% if product.description != blank %}
            <p class="light-gray product-description">{{ product.description | strip_html }}</p>
          {% endif %}
        </div>
        <div class="product-variants-container">
          {% if product.variants.size > 1 or product.variants.first.title != 'Default Title' %}
            {% unless product.tags contains 'Treatments' %}
              <p class="dark-gray"><strong>Choose Your Size</strong></p>
            {% endunless %}
            <ul id="variant-list">
              {% for variant in product.variants %}
                <li
                  class="variant-item {% if variant.id == current_variant.id %}active{% endif %}"
                  data-variant-id="{{ variant.id }}"
                  data-variant-price="{{ variant.price }}"
                >
                  <span>{{ variant.title }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          <p class="light-blue price">
            <strong>{{ current_variant.price | money_with_currency }}</strong>
          </p>
          <form class="add-to-cart-form quantity-container">
            <input type="hidden" id="variant-id" name="id" value="{{ current_variant.id }}">
            {% if product.available != false %}
              <div class="product-quantity">
                <input type="button" value="-" class="minus">
                <input type="number" class="quantity" name="quantity" value="1" min="1">
                <input type="button" value="+" class="plus">
              </div>
              <button
                type="submit"
                name="add"
                class="btn-primary"
                id="AddToCart"
              >
                Add to Cart
              </button>
            {% else %}
              <p>Out of stock</p>
            {% endif %}
          </form>
          <div class="recommendation-container">
            {% if product.type != 'Gift Card' %}
              <p><strong>Recommended Skin Types:</strong></p>
              <p>For all skin types.</p>
              {% if product.metafields.custom.direction != blank %}
                <p><strong>Directions for Use:</strong></p>
                <p>{{ product.metafields.custom.direction | metafield_tag }}</p>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="product-information-container">
      <ul class="product-sub-details-con">
        {% unless product.tags contains 'Treatments' %}
          <li>
            <a href="#!" class="active" data-id="description">Product Description</a>
          </li>
        {% endunless %}
        <li>
          <a href="#!" data-id="details">Details</a>
        </li>
        <li>
          <a href="#!" data-id="benefits">Benefits</a>
        </li>
        {% unless product.tags contains 'Treatments' %}
          <li>
            <a href="#!" data-id="ingredient-iist">Ingredients List</a>
          </li>
          <li>
            <a href="#!" data-id="indications">Indications</a>
          </li>
        {% endunless %}
      </ul>
      <div class="product-details-flash">
        {% unless product.tags contains 'Treatments' %}
          <div id="description" class="active">
            {{ product.metafields.custom.sub_description | metafield_tag }}
          </div>
        {% endunless %}
        <div id="details">
          {{ product.metafields.custom.sub_details | metafield_tag }}
        </div>
        <div id="benefits">
          {{ product.metafields.custom.sub_benefit | metafield_tag }}
        </div>
        {% unless product.tags contains 'Treatments' %}
          <div id="ingredient-iist">
            {{ product.metafields.custom.sub_ingredient | metafield_tag }}
          </div>
          <div id="indications">
            {{ product.metafields.custom.sub_indication | metafield_tag }}
          </div>
        {% endunless %}
      </div>
    </div>
  </div>
</section>
<section id="related-products">
  <div class="wrapper">
    <div class="related-products-con">
      <h2 class="low-white">You may also like</h2>
      <div class="related-products">
        {% assign product_tags = product.tags | json %}
        {% assign related_products = collections.all.products | where: 'tags', product_tags[0] %}
        {% for related_product in related_products limit: 4 %}
          {% if related_product.id != product.id %}
            <div class="related-product">
              <a href="{{ related_product.url }}">
                {% if related_product.featured_image != blank %}
                  <img
                    src="{{ related_product.featured_image | img_url: '2048x' }}"
                    alt="{{ related_product.title }}"
                    loading="lazy"
                  >
                {% else %}
                  <img
                    src="https://cdn.shopify.com/s/files/1/0727/8949/1929/files/Default_Image.webp?v=1733414521"
                    alt="Default Image"
                    loading="lazy"
                  >
                {% endif %}
              </a>
              <a href="{{ related_product.url }}">
                <h6 class="low-white">{{ related_product.title }}</h6>
              </a>
              <p class="white">{{ related_product.price | money }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(() => {
    $('.minus').click(function () {
      let input = $(this).siblings('input[type="number"]'),
        value = parseInt(input.val(), 10);

      if (!isNaN(value) && value > 1) input.val(value - 1);
    });

    $('.plus').click(function () {
      let input = $(this).siblings('input[type="number"]'),
        value = parseInt(input.val(), 10);

      if (!isNaN(value)) input.val(value + 1);
    });

    $('.product-sub-details-con li a')
      .click(function () {
        $('.product-sub-details-con li a').removeClass('active');
        $(this).addClass('active');
        $(`.product-details-flash > div`).removeClass('active');
        $(`.product-details-flash #${$(this).data('id')}`).addClass('active');
      })
      .filter('.active')
      .click();

    $('.variant-item').on('click', function () {
      changeVariant($(this).data('variant-id'), $(this).data('variant-price'));
      $('.variant-item').removeClass('active');
      $(this).addClass('active');
    });

    function changeVariant(selectedVariantId, variantPrice) {
      if (selectedVariantId) {
        $('#variant-id').val(selectedVariantId);

        const formattedPrice = (variantPrice / 100).toLocaleString('en-US', {
          style: 'currency',
          currency: 'USD',
        });

        $('.price strong').text(`${formattedPrice}`);
      }
    }
  });
</script>
